<footer class="l-footer">
  <div class="l-footer__about">
    <ul class="l-footer__sns-list p-sns-list">
      <li class="p-sns-list__item">
        <a href="#">
          <img src="<%= `${imgPath}/icon_instagram.svg` %>" alt="SNS(Instagram)" />
        </a>
      </li>
      <li class="p-sns-list__item">
        <a href="#">
          <img src="<%= `${imgPath}/icon_youtube.svg` %>" alt="SNS(Youtube)" />
        </a>
      </li>
      <li class="p-sns-list__item">
        <a href="#">
          <img src="<%= `${imgPath}/icon_twitter.svg` %>" alt="SNS(Twitter)" />
        </a>
      </li>
    </ul>
    <a href="#" class="l-footer__contact">CONTACT</a>
  </div>
  <div class="l-footer__copyright">&copy; 2021 Bana Board</div>
</footer>
